<!-- Heading title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } %>

<!-- Welcome message -->
<h2>Welcome <%= account_firstname %></h2>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<% }) %>
    </ul>
<% } %>

<p>You're logged in!</p>