
<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero-image">
    <img src="images/vehicles/delorean.jpg" alt="Delorean">
    <article>
        <h2>DMC Delorean</h2>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <div class="own-today">
            <img src="images/site/own_today.png" alt="Own Today">
        </div>
    </article>
</div>

<div id="content-container">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-layout">
            <a href="/upgrades/flux_capacitor">
                <div class="upgrade-item">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <p>Flux Capacitor</p>
            </a>
            <a href="/upgrades/flame_decals">
                <div class="upgrade-item">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <p>Flame Decals</p>
            </a>
            <a href="/upgrades/bumper_stickers">
                <div class="upgrade-item">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <p>Bumper Stickers</p>
            </a>
            <a href="/upgrades/hub_caps">
                <div class="upgrade-item">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <p>Hub Caps</p>
            </a>
        </div>
    </div>
</div>