<!-- Heading title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message display for any errors
 Commented out for now -->
<%# messages() %>

<!-- Vehicle detail content -->
<%- grid %>