<!-- Heading title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } %>

<!-- Message display -->
<% if (messages && messages.length > 0) { %>
  <div class="notice">
    <% messages.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %> 
  </div>
<% } %>

<!-- Error display -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<% }); %>    
    </ul>
<% } %>

<div class="inv-management">
    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">Add New Vehicle</a></p>

    <h2>Manage Inventory</h2>
    <p>Choose a classification to view those inventory items.</p>
    <%- classificationSelect %> || '<p>No classifications available.</p>' %>
    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="/js/inventory.js"></script>